tool:
  users:
    user:
      # sync alacritty configuration from dotfiles repo available as
      # salt://dotconfig/<user>/alacritty or salt://dotconfig/alacritty
      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false
